<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--css bootstrap-->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <!--navbar-->
    <div class="navigation bg-dark">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-dark">
                <a class="navbar-brand" href="#">APP</a>
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/services.html">Services</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!--end of navbar-->
    <!--Body-->
    <div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 my-5 bg-light p-3">
                    <h1 class="h1">Welcom to home</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat optio unde distinctio quisquam aperiam quas?</p>
                </div>
            </div>
        </div>
    </div>
    <!--Boddy end-->
    <script src="jquery/jquery-3.3.1.min.js"></script>
    <!--Script bootstrap-->
    <script src="js/bootstrap.js"></script>
</body>
</html>